@page "/catalogo"
@using Shopping.Models
@using Shopping.BLL
@using System.Net.Http.Json
@inject HttpClient http


<div class="card">
        <div class="card-header">
            <h3>Catalogo de productos</h3>
        </div>

        <div class="card-body">
            <div class="input-group mb-4">
                <div class="input-group">                                
                </div>
            </div>

            <div class="row">
                @foreach (var item in lista)
                {                  
                        <div class="col-4">
                            <div class="card">                               
                                <div class="card-body">
                                    <div class="card-title">
                                        <strong>@item.title</strong>  
                                    </div>
                                    <div class="card-img">
                                        <img class="h-50 w-50" src="@item.image"/>
                                    </div>
                                    <div class="card-text">
                                       <p>@item.description</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                     <span>$@item.price</span>
                                     <div class="form-group">
                                         <input type="number" class="input-group" @bind="item.cantidad"/>
                                         <button type="button" class="btn btn-primary" @onclick="(()=>AddCart(item))"><i class="oi oi-cart"></i></button>                      
                                    </div>                                              
                                </div>
                            </div>
                        </div>                  
                }
            </div>
        </div>      
    </div>

@code {
    List<Products> lista = new List<Products>();
    Products products = new Products();
    public string nombre { get; set; }
    public int cantidad { get; set; }

    protected override async Task OnInitializedAsync()
    {
        lista = await http.GetFromJsonAsync<List<Products>>("products");
    }

    private void AddCart(Products products)
    {
        bool paso = false;

        if (products.cantidad != 0)
        {
            paso = ProductsBLL.Guardar(products);
        }      
    }
}
